## Export functions from the ROTS-package
export(ROTS)
export(lmROTS)
export(lmeROTS)
S3method(print, ROTS)
S3method(summary, ROTS)
S3method(plot, ROTS)
S3method(summary, regROTS)
S3method(plot, regROTS)

## Load  shared library ROTS.so/dll
useDynLib(ROTS)
importFrom(Rcpp, evalCpp)
importFrom(stats, median, na.omit, heatmap, loess.smooth, prcomp, lm, sd, p.adjust, as.formula, coefficients)
importFrom(utils, setTxtProgressBar, txtProgressBar)
importFrom(graphics, plot, points, abline, legend, lines, text, hist, par, mtext)
importFrom(grDevices, colorRampPalette)
importFrom(methods, is)
importFrom(lme4, lmer)
importFrom(BiocParallel, bplapply, bpparam)