## Export only functions ROTS and print.ROTS from the ROTS-package
export(ROTS, print.ROTS, summary.ROTS)

## Load  shared library ROTS.so/dll
useDynLib(ROTS)
importFrom(Rcpp, evalCpp)
importFrom(stats, median)
importFrom(methods, is)
