## Export functions from the ROTS-package
export(ROTS, print.ROTS, summary.ROTS, plot.ROTS)

## Load  shared library ROTS.so/dll
useDynLib(ROTS)
importFrom(Rcpp, evalCpp)
importFrom(stats, median, na.omit, heatmap)
importFrom(utils, setTxtProgressBar, txtProgressBar)
importFrom(graphics, plot, points)
importFrom(grDevices, colorRampPalette)
importFrom(methods, is)
